<font size='15' color='blue'>Llenar valores faltantes</font>

In [1]:
import numpy as np
import pandas as pd

In [2]:
oil = pd.read_csv(
    '../Data/oil.csv'
)

In [3]:
oil

            date  dcoilwtico
0     2013-01-01         NaN
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
...          ...         ...
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1218 rows x 2 columns]

In [4]:
oil['date'] = pd.to_datetime(oil['date'])

In [5]:
oil.set_index('date', inplace=True)

In [6]:
oil.head()

            dcoilwtico
date
2013-01-01         NaN
2013-01-02       93.14
2013-01-03       92.97
2013-01-04       93.12
2013-01-07       93.20

In [12]:
oil2017 = oil.loc['2017-01-01':'2017-12-31',:]

In [13]:
oil2017['dcoilwtico'].mean()

49.23287425149698

In [14]:
oil2017.fillna(oil2017.mean())

            dcoilwtico
date
2017-01-02   49.232874
2017-01-03   52.360000
2017-01-04   53.260000
2017-01-05   53.770000
2017-01-06   53.980000
...                ...
2017-08-25   47.650000
2017-08-28   46.400000
2017-08-29   46.460000
2017-08-30   45.960000
2017-08-31   47.260000

[174 rows x 1 columns]