<center><font color='orange' size='20'>Outliers</font></center>

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import geopandas as gpd

In [2]:
df = pd.read_csv(
    '../Output/dataset_final_csv.csv',
)

In [3]:
df

,metroscuadradostotales,precio,titulo,latitud,longitud,preciomt2
0,400,375500,"Venta de Casa Laguna Del Sol, 3 dormitorios, ...",-2.130761,-79.906738,938.750000
1,337,150000,En Venta Casa en Cdla. La Alborada Décima Etapa,-2.134000,-79.908997,445.103858
2,95,108000,"Venta de Suit amoblada Kennedy Point, planta baja",-2.199000,-79.907997,1136.842105
3,60,65000,Suite Kennedy Amoblada,-2.172635,-79.900551,1083.333333
4,132,138000,"Casa en Venta Urb. El Condado Vicolinci, Guaya...",-2.048000,-79.904999,1045.454545
...,...,...,...,...,...,...
4507,120,65500,CASA EN VENTA RECREO DURAN,-2.167000,-79.891998,545.833333
4508,140,125000,Lomas de Urdesa Vendo Departamento de Estreno,-2.160178,-79.895027,892.857143
4509,128,98000,"SE VENDE CASA EN SAN FELIPE, PRECIO DE OPORTUN...",-2.139000,-79.921997,765.625000
4510,18,1000,Vendo casa de 2 plantas,-2.171000,-79.921997,55.555556
4511,139,135000,LOMAS DE URDESA DEPARTAMENTO AMOBLADO EN VENTA,-2.155000,-79.890999,971.223022

In [4]:
q1 = df['preciomt2'].quantile(0.25)

In [5]:
q3 = df['preciomt2'].quantile(0.75)

In [6]:
q3

952.3809523809524

In [7]:
iqr = q3 - q1

In [8]:
df.loc[(df['preciomt2'] < q1 - 1.5*iqr) | (df['preciomt2'] > q3 + 1.5*iqr), :] # Outliers rango intercuartil

,metroscuadradostotales,precio,titulo,latitud,longitud,preciomt2
119,1000,2500000,Casa de venta en Cerro Santa Ana - Las Peñas –...,-2.161486,-79.917257,2.500000e+03
132,1,170000,Casa de venta en Río Centro Sur - Las Terrazas...,-2.161486,-79.917257,1.700000e+05
134,175,574700,"Venta de Penthouse en Edificio Santana Lofts, ...",-2.179000,-79.875999,3.284000e+03
184,50,110000,Sector Ciudad Colonvendo Suite Amoblada,-2.152000,-79.906998,2.200000e+03
185,73,160000,"Departamento en Venta, Puerto Santa Ana, Guaya...",-2.179000,-79.875999,2.191781e+03
...,...,...,...,...,...,...
4425,8,35000,Se Vende Departamento Sur de La Ciudad,-2.234000,-79.896000,4.375000e+03
4443,30,75000,Vendo Casa Mucho Lote 1 5taetapa,-2.159301,-79.919464,2.500000e+03
4455,20,56000,"Venta de Casa en el Sur de Guayaquil, entrando...",-2.171000,-79.921997,2.800000e+03
4463,120,280000,"Venta de Departamento en Edificio Quo, Av. Jua...",-2.156000,-79.889999,2.333333e+03
4474,50,280000000,Vendo Casa Rentera,-2.199222,-79.935951,5.600000e+06

In [9]:
df.loc[np.abs((df['preciomt2'] - df['preciomt2'].mean()) / df['preciomt2'].std()) > 3]# Z-score

,metroscuadradostotales,precio,titulo,latitud,longitud,preciomt2
1657,15,120000000000,Se Alquila Mini Departamento 120 Dolares,-2.084572,-79.896957,8.000000e+09
4070,150,11111111111111,Vendo Hermosa Casa,-2.267572,-79.882056,7.407407e+10

In [10]:
df = df.loc[(df['preciomt2'] >= q1 - 1.5*iqr) & (df['preciomt2'] <= q3 + 1.5*iqr), :] # Dataset eliminando outliers

In [11]:
df[['metroscuadradostotales', 'precio']] = stats.zscore(df.loc[:, ['metroscuadradostotales', 'precio']]) # Standardization of precio and metroscuadradostotales

/var/folders/bq/_bqydjv50jg7scm3v5rwy0280000gn/T/ipykernel_46196/4144595226.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['metroscuadradostotales', 'precio']] = stats.zscore(df.loc[:, ['metroscuadradostotales', 'precio']]) # Standardization of precio and metroscuadradostotales

In [12]:
df

,metroscuadradostotales,precio,titulo,latitud,longitud,preciomt2
0,-0.024995,1.828036,"Venta de Casa Laguna Del Sol, 3 dormitorios, ...",-2.130761,-79.906738,938.750000
1,-0.024995,0.134329,En Venta Casa en Cdla. La Alborada Décima Etapa,-2.134000,-79.908997,445.103858
2,-0.024995,-0.181129,"Venta de Suit amoblada Kennedy Point, planta baja",-2.199000,-79.907997,1136.842105
3,-0.024995,-0.504097,Suite Kennedy Amoblada,-2.172635,-79.900551,1083.333333
4,-0.024995,0.044198,"Casa en Venta Urb. El Condado Vicolinci, Guaya...",-2.048000,-79.904999,1045.454545
...,...,...,...,...,...,...
4507,-0.024995,-0.500342,CASA EN VENTA RECREO DURAN,-2.167000,-79.891998,545.833333
4508,-0.024995,-0.053443,Lomas de Urdesa Vendo Departamento de Estreno,-2.160178,-79.895027,892.857143
4509,-0.024995,-0.256237,"SE VENDE CASA EN SAN FELIPE, PRECIO DE OPORTUN...",-2.139000,-79.921997,765.625000
4510,-0.024995,-0.984794,Vendo casa de 2 plantas,-2.171000,-79.921997,55.555556
4511,-0.024995,0.021666,LOMAS DE URDESA DEPARTAMENTO AMOBLADO EN VENTA,-2.155000,-79.890999,971.223022