<font size='10'>Tarea de cleaning</font>

Realizar un proceso de cleaning que consiste en no tener valores nulos y que las columnas de datos estén en un formato de datos correspondiente para las siguientes características: precio, metroscuadradostotales, titulo, latitud,longitud, preciomt2.

Extraer las características de latitud y longitud, agregar estas nuevas características al dataset y realizar un proceso de cleaning que consiste en no tener valores nulos y que la data esté en un formato numérico según corresponda.

Extraer la característica de precio x metro cuadrado que es la razón entre el precio y los metroscuadrados totales de la casa.

Luego de realizar el proceso de cleaning para las características previamente descritas, usted debe eliminar las observaciones duplicadas. Para este set de datos se considera una observación duplicada cuando tiene el mismo precio, metroscuadradostotales, latitud y longitud.

Finalmente usted debe exportar el dataset final a un archivo csv llamado dataset_final_csv y dejar un en el jupyter notebook los dtypes de las columnas, el shape, y el head del dataframe.

1. <font color='green'>Importe de librerias</font>

In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [2]:
df = pd.read_csv('../Data/data_2019-1.csv')

<font size='5'>Dataframe antes de los cambios pedidos en la tarea</font>

In [3]:
df

,antigüedad,cuartos,cuartosdebaño,estacionamiento,latlong,metroscuadradostotales,precio,publicado,tipodevendedor,titulo
0,Entre 5 y 10 años,3.0,3.0,NaN,https://www.google.com/maps/place/-2.130760908...,400.0,$375.500,Publicado hace 4 hs,Inmobiliaria,"Venta de Casa Laguna Del Sol, 3 dormitorios, ..."
1,Entre 10 y 20 años,4.0,5.0,Si,https://www.google.com/maps/place/-2.134000062...,337.0,$150.000,Publicado hace 11 hs,Inmobiliaria,En Venta Casa en Cdla. La Alborada Décima Etapa
2,Hasta 5 años,1.0,2.0,NaN,https://www.google.com/maps/place/-2.198999881...,95.0,$108.000,Publicado hace 4 hs,Inmobiliaria,"Venta de Suit amoblada Kennedy Point, planta baja"
3,Entre 10 y 20 años,1.0,1.0,Si,https://www.google.com/maps/place/-2.172635316...,60.0,$65.000,Publicado hace 4 hs,Dueño Directo,Suite Kennedy Amoblada
4,Hasta 5 años,3.0,3.0,Si,https://www.google.com/maps/place/-2.048000097...,132.0,$138.000,Publicado hace 4 hs,Inmobiliaria,"Casa en Venta Urb. El Condado Vicolinci, Guaya..."
...,...,...,...,...,...,...,...,...,...,...
4753,A estrenar,3.0,3.0,Si,https://www.google.com/maps/place/-2.160177946...,140.0,$125.000,Publicado hace 2 meses,Inmobiliaria,Lomas de Urdesa Vendo Departamento de Estreno
4754,A estrenar,3.0,3.0,Si,https://www.google.com/maps/place/-2.187999963...,212.0,$170.000,Publicado hace 2 meses,Inmobiliaria,"Casa de Venta en Urb. TerraNostra, Vía a la Costa"
4755,Entre 5 y 10 años,3.0,4.0,Si,https://www.google.com/maps/place/-2.138999938...,128.0,$98.000,Publicado hace 2 meses,Inmobiliaria,"SE VENDE CASA EN SAN FELIPE, PRECIO DE OPORTUN..."
4756,Entre 5 y 10 años,3.0,3.0,Si,https://www.google.com/maps/place/-2.171000003...,18.0,$1.000,Publicado hace 2 meses,Dueño Directo,Vendo casa de 2 plantas
4757,Entre 20 y 50 años,3.0,3.0,Si,https://www.google.com/maps/place/-2.154999971...,139.0,$135.000,Publicado hace 2 meses,Inmobiliaria,LOMAS DE URDESA DEPARTAMENTO AMOBLADO EN VENTA

In [4]:
df.dtypes

antigüedad                 object
cuartos                   float64
cuartosdebaño             float64
estacionamiento            object
latlong                    object
metroscuadradostotales    float64
precio                     object
publicado                  object
tipodevendedor             object
titulo                     object
dtype: object

In [5]:
df.shape

(4758, 10)

In [6]:
df.head()

,antigüedad,cuartos,cuartosdebaño,estacionamiento,latlong,metroscuadradostotales,precio,publicado,tipodevendedor,titulo
0,Entre 5 y 10 años,3.0,3.0,NaN,https://www.google.com/maps/place/-2.130760908...,400.0,$375.500,Publicado hace 4 hs,Inmobiliaria,"Venta de Casa Laguna Del Sol, 3 dormitorios, ..."
1,Entre 10 y 20 años,4.0,5.0,Si,https://www.google.com/maps/place/-2.134000062...,337.0,$150.000,Publicado hace 11 hs,Inmobiliaria,En Venta Casa en Cdla. La Alborada Décima Etapa
2,Hasta 5 años,1.0,2.0,NaN,https://www.google.com/maps/place/-2.198999881...,95.0,$108.000,Publicado hace 4 hs,Inmobiliaria,"Venta de Suit amoblada Kennedy Point, planta baja"
3,Entre 10 y 20 años,1.0,1.0,Si,https://www.google.com/maps/place/-2.172635316...,60.0,$65.000,Publicado hace 4 hs,Dueño Directo,Suite Kennedy Amoblada
4,Hasta 5 años,3.0,3.0,Si,https://www.google.com/maps/place/-2.048000097...,132.0,$138.000,Publicado hace 4 hs,Inmobiliaria,"Casa en Venta Urb. El Condado Vicolinci, Guaya..."

<font size='5'>Dataframe despues de los cambios efectuados</font>

In [23]:
df

,metroscuadradostotales,precio,titulo,latitud,longitud,preciomt2
0,337,150000,En Venta Casa en Cdla. La Alborada Décima Etapa,-2.134000,-79.908997,445.103858
1,60,65000,Suite Kennedy Amoblada,-2.172635,-79.900551,1083.333333
2,132,138000,"Casa en Venta Urb. El Condado Vicolinci, Guaya...",-2.048000,-79.904999,1045.454545
3,170,105000,Venta Departamento Urdesa Norte,-2.165000,-79.910000,617.647059
4,142,100000,Vendo Casa Villa Club Etapa Floral,-2.174930,-79.901154,704.225352
...,...,...,...,...,...,...
3715,200,275000,Samborondón Sendero Al Rio en Venta,-2.189355,-79.889206,1375.000000
3716,140,125000,Lomas de Urdesa Vendo Departamento de Estreno,-2.160178,-79.895027,892.857143
3717,128,98000,"SE VENDE CASA EN SAN FELIPE, PRECIO DE OPORTUN...",-2.139000,-79.921997,765.625000
3718,18,1000,Vendo casa de 2 plantas,-2.171000,-79.921997,55.555556
3719,139,135000,LOMAS DE URDESA DEPARTAMENTO AMOBLADO EN VENTA,-2.155000,-79.890999,971.223022

In [24]:
df.dtypes

metroscuadradostotales      int64
precio                      int64
titulo                     object
latitud                   float64
longitud                  float64
preciomt2                 float64
dtype: object

In [25]:
df.shape

(3720, 6)

In [26]:
df.head()

,metroscuadradostotales,precio,titulo,latitud,longitud,preciomt2
0,337,150000,En Venta Casa en Cdla. La Alborada Décima Etapa,-2.134000,-79.908997,445.103858
1,60,65000,Suite Kennedy Amoblada,-2.172635,-79.900551,1083.333333
2,132,138000,"Casa en Venta Urb. El Condado Vicolinci, Guaya...",-2.048000,-79.904999,1045.454545
3,170,105000,Venta Departamento Urdesa Norte,-2.165000,-79.910000,617.647059
4,142,100000,Vendo Casa Villa Club Etapa Floral,-2.174930,-79.901154,704.225352

2. <font color='green'>Limpiar las filas con datos nulos y resetear los indices</font>

In [11]:
df.dropna(inplace=True)

3. <font color='green'>Inclusión de las series de latitud y longitud</font>

In [12]:
df[['latitud', 'longitud']] = df['latlong'].str.split('/', expand=True)[5].str.split(',', expand=True)

In [13]:
df['precio'] = df['precio'].str.replace('$', '', regex=False).str.strip(' ').str.replace('.', '', regex=False)

4. <font color='green'>Limpieza de valores vacíos en la serie precio</font>

In [14]:
df = df.loc[df['precio'] != '']

5. <font color='green'>Casteo de valores en las series al tipo de dato que le corresponde</font>

In [15]:
df['precio'] = df['precio'].astype('int64')

In [16]:
df['metroscuadradostotales'] = df['metroscuadradostotales'].astype('int64')

In [17]:
df['latitud'] = df['latitud'].astype('float64')
df['longitud'] = df['longitud'].astype('float64')

6. <font color='green'>Inclusión de serie preciomt2</font>

In [18]:
df['preciomt2'] = df['precio'] / df['metroscuadradostotales']

7. <font color='green'>Dropeo de las series que no son necesarias en el dataframe</font>

In [19]:
df.drop(columns=['antigüedad', 'cuartos', 'cuartosdebaño', 'estacionamiento', 'latlong', 'publicado', 'tipodevendedor'], inplace=True)

8. <font color='green'>Dropeo de valores duplicados dependiendo de las series precio, metroscuadradostotales, latitud, longitud</font>

In [20]:
df.drop_duplicates(subset=['precio', 'metroscuadradostotales', 'latitud', 'longitud'], inplace=True)

9. <font color='green'>Reseteo de índices</font>

In [21]:
df.reset_index(drop=True, inplace=True)

10. <font color='green'>Exporte del nuevo dataframe limpio a un archivo csv</font>

In [22]:
df.to_csv('../Data/dataset_final_csv.csv', index=False)