1. <font color='green'>Importe de librerias</font>

In [1]:
import pandas as pd
import numpy as np

2. <font color='green'>Lectura de archivo definiendo los valores nulos</font>

In [2]:
df = pd.read_csv(
    '../Data/data_2019-1.csv',
    keep_default_na=False,
    na_values=[' ', 'NULL', 'NaN', 'nan', 'NAN', 'null', 'NA', 'na', 'Na', 'nA', ''],
    )

<font size='5'>Dataframe antes de los cambios pedidos en la tarea</font>

In [3]:
df.dtypes

antigüedad                 object
cuartos                   float64
cuartosdebaño             float64
estacionamiento            object
latlong                    object
metroscuadradostotales    float64
precio                     object
publicado                  object
tipodevendedor             object
titulo                     object
dtype: object

In [4]:
df.shape

(4758, 10)

In [5]:
df.head()

,antigüedad,cuartos,cuartosdebaño,estacionamiento,latlong,metroscuadradostotales,precio,publicado,tipodevendedor,titulo
0,Entre 5 y 10 años,3.0,3.0,NaN,https://www.google.com/maps/place/-2.130760908...,400.0,$375.500,Publicado hace 4 hs,Inmobiliaria,"Venta de Casa Laguna Del Sol, 3 dormitorios, ..."
1,Entre 10 y 20 años,4.0,5.0,Si,https://www.google.com/maps/place/-2.134000062...,337.0,$150.000,Publicado hace 11 hs,Inmobiliaria,En Venta Casa en Cdla. La Alborada Décima Etapa
2,Hasta 5 años,1.0,2.0,NaN,https://www.google.com/maps/place/-2.198999881...,95.0,$108.000,Publicado hace 4 hs,Inmobiliaria,"Venta de Suit amoblada Kennedy Point, planta baja"
3,Entre 10 y 20 años,1.0,1.0,Si,https://www.google.com/maps/place/-2.172635316...,60.0,$65.000,Publicado hace 4 hs,Dueño Directo,Suite Kennedy Amoblada
4,Hasta 5 años,3.0,3.0,Si,https://www.google.com/maps/place/-2.048000097...,132.0,$138.000,Publicado hace 4 hs,Inmobiliaria,"Casa en Venta Urb. El Condado Vicolinci, Guaya..."

3. <font color='green'>Dropeo de columnas que no son de interés en el análisis</font>

In [6]:
df.drop(columns=['antigüedad', 'cuartos', 'cuartosdebaño', 'estacionamiento', 'publicado', 'tipodevendedor'], inplace=True)

4. <font color='green'>Limpiar las filas con datos nulos</font>

In [7]:
df.dropna(inplace=True)

5. <font color='green'>Inclusión de las series de latitud y longitud</font>

In [8]:
df[['latitud', 'longitud']] = df['latlong'].str.split('/', expand=True)[5].str.split(',', expand=True)

6. <font color='green'>Reemplazo de caracteres en la serie precio</font>

In [9]:
df['precio'] = df['precio'].str.replace('$', '', regex=False).str.strip(' ').str.replace('.', '', regex=False)

7. <font color='green'>Casteo de valores en las series al tipo de dato que le corresponde</font>

In [10]:
df['precio'] = df['precio'].astype('int64')
df['metroscuadradostotales'] = df['metroscuadradostotales'].astype('int64')
df['latitud'] = df['latitud'].astype('float64')
df['longitud'] = df['longitud'].astype('float64')

8. <font color='green'>Inclusión de serie preciomt2</font>

In [11]:
df['preciomt2'] = df['precio'] / df['metroscuadradostotales']

9. <font color='green'>Dropeo de la columna latlong</font>

In [12]:
df.drop(columns=['latlong'], inplace=True)

10. <font color='green'>Dropeo de valores duplicados dependiendo de las series precio, metroscuadradostotales, latitud, longitud</font>

In [13]:
df.drop_duplicates(subset=['precio', 'metroscuadradostotales', 'latitud', 'longitud'], inplace=True)

11. <font color='green'>Reseteo de índices</font>

In [14]:
df.reset_index(drop=True, inplace=True)

12. <font color='green'>Exporte del nuevo dataframe limpio a un archivo csv</font>

In [15]:
df.to_csv('../Output/dataset_final_csv.csv', index=False)

<font size='5'>Dataframe despues de los cambios efectuados</font>

In [16]:
df.dtypes

metroscuadradostotales      int64
precio                      int64
titulo                     object
latitud                   float64
longitud                  float64
preciomt2                 float64
dtype: object

In [17]:
df.shape

(4512, 6)

In [18]:
df.head()

,metroscuadradostotales,precio,titulo,latitud,longitud,preciomt2
0,400,375500,"Venta de Casa Laguna Del Sol, 3 dormitorios, ...",-2.130761,-79.906738,938.750000
1,337,150000,En Venta Casa en Cdla. La Alborada Décima Etapa,-2.134000,-79.908997,445.103858
2,95,108000,"Venta de Suit amoblada Kennedy Point, planta baja",-2.199000,-79.907997,1136.842105
3,60,65000,Suite Kennedy Amoblada,-2.172635,-79.900551,1083.333333
4,132,138000,"Casa en Venta Urb. El Condado Vicolinci, Guaya...",-2.048000,-79.904999,1045.454545